<%= form_with(model: list) do |form| %>
  <% if list.errors.any? %>
    <div>
      <h2><%= pluralize(list.errors.count, "erro") %> impediu essa lista de ser salva:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, "Título", style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit "Enviar" %>
  </div>
<% end %>
