<%= render HeaderComponent.new %>

<main class="Main-Container mt-4">
  <h2>Cadastre-se</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail *" %>
    </div>

    <div class="field">
      <%= f.label :password, "Senha" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Senha *" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirme sua senha" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Senha *" %>
    </div>

    <div class="actions">
      <%= f.submit "Cadastre-se" %>
    </div>
  <% end %>

  <div class="shared-links">
    <%= render "devise/shared/links" %>
  </div>
</main>
