<div id="<%= dom_id task %>" class="Task">
  <div class="Task-Content">

    <div>
      <%= check_box_tag "task_complete_#{task.id}", task.id, false, id: "#{task.id}", class: "task-checkbox" %>
      <%= label_tag "task_complete_#{task.id}", " " %>
    </div>

    <p class="Task-Description">
      <%= task.description %>
    </p>

    <p>
      <strong>Prazo:</strong>
      <%= task.deadline %>
    </p>

    <div><%= link_to image_tag('Edit.png', alt: 'Editar'), edit_task_path(task) %></div>
    <div><%= button_to image_tag('Delete.png', alt: 'Deletar'), task, method: :delete %></div>
  </div>
</div>
