<div id="<%= dom_id task %>" class="Task ">
  <div class="Task-Content">

    <div data-controller="tasks">
      <%= check_box_tag "task[concluido]", 1, task.concluido, class: "custom-checkbox task-checkbox", id: "task_#{task.id}", data: { action: "tasks#toggle", list_id: @list.id, task_id: task.id } %>
      <label for="task_<%= task.id %>"></label>
    </div>


    <p class="Task-Description">
      <%= task.description %>
    </p>

    <p>
      <%= task.deadline ? data_br(task.deadline) : "" %>
    </p>

    <div class="interact-container">
      <div><%= link_to image_tag('Edit.png', alt: 'Editar', class: 'task-interact-img'), edit_list_task_path(task.list, task) %></div>
      <div><%= button_to image_tag('Delete.png', alt: 'Deletar', class: 'task-interact-img'), list_task_path(task.list, task), method: :delete, data: { turbo_confirm: "Deseja excluir a tarefa?" } %></div>
    </div>

  </div>
</div>
