<p style="color: green"><%= notice %></p>

<% content_for :title, "Tasks" %>
<%= render(HeaderComponent.new) %>

<main class="Main-Container">
  <div class="Task-Container">
    <button class="Application-Button"><%= link_to "Nova Tarefa", new_task_path %></button>
    <h1>Suas Tarefas:</h1>
    <div id="tasks">
      <% @tasks.each do |task| %>
        <%= render task %>
        <p>
          <%= link_to "Show this task", task %>
        </p>
      <% end %>
    </div>
  </div>
</main>

